# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Working directories
Snow17SacUH/sample_model/

# Temporary Development Notes
LASTNEXT

# R junk
.Rproj.user
.Rhistory
.Rapp.history

# Python junk
nwsrfspy.egg-info
__pycache__

# Mac junk
.DS_Store

# Local notes and scripts
*.Rcheck/
*_*.tar.gz
.*
!.github/
!.github/workflows/
!.github/workflows/*.yml
*.md
setup_*.sh
*_report.md
*_checklist.md

# R build arifacts
00*.log

# rendered md should not usually be included, but might in specefic cases using -f 
*.html

# python package docs
/nwsrfs_py/docs/build/
/nwsrfs_py/docs/_build/

# R pkgdown site output
/nwsrfs_r/docs/
/nwsrfs_r/docs/_pkgdown.yml

#pypi distribution
/nwsrfs_py/dist/*
